Bonjour,

Une demande de reinitialisation de mot de passe a ete effectuee
pour votre compte sur la plateforme Business Partnership - MINEPAT.

Votre nom d'utilisateur est : {{ user.get_username }}

Pour choisir un nouveau mot de passe, cliquez sur ce lien :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ce lien est valable 24 heures.

Si vous n'etes pas a l'origine de cette demande, ignorez cet email.
Votre mot de passe ne sera pas modifie.

---
Plateforme Business Partnership
Ministere de l'Economie, de la Planification
et de l'Amenagement du Territoire - Cameroun